.env

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

*.dll
*.exe
*.pdb
*.ilk
*.exp
*.so
*.dylib

*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml

*.sln.iml